@font-face {
    font-family: tango;
    src: url(texto/TangoSans.ttf) format('truetype');
}

    @font-face {
    font-family: tangobold;
    src: url(texto/TangoSans_Bold.ttf) format('truetype');
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.barra{
    background-color: #522bc7;
    font-family: utendoreg;
    font-size: 18px;
    color:black
}

.slider{
    height: 16rem;
    background-color: black;
    color: rgb(129, 92, 248);
}
.slider p{
    margin: 30px;
    font-family: tango;
    font-size: 70px;
    text-align: center;

}

.slider h1{
    margin: 30px;
    font-family: tango;
    font-size: 50px;
    text-align: center;
}

.slider2{
    height: 50rem;
    background-color: black;
    color: white;
    align-items: center;
}

.box3{
    background-color: rgb(0, 0, 0);
    height: 5rem;
    text-align: right;
    color: white;
}